<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='utf-8')
    title Earthquakes and Eruptions    
    link(rel='stylesheet', href='../sass/main.sass')
    link(rel="shortcut icon" type="image/x-icon" href="../../favicon.ico")

  body.standard-text  
    div#header      
      .title Worldwide Significant Earthquakes and Eruptions 1900 - 2018
        button#info-button i
        div.overlay-background.collapsed
        div.message-overlay.hidden The main goal of this replay of historical data is to visualize the intensity of volcanic and seismic activity across our planet. The earthquake data displayed here comes from the database of the U.S. Geological Survey and covers all reported earthquakes with magnitude 6 or greater from 1900 to 2018. As a reference, you might consider the 2009 and 2016 earthquakes in Italy with a magnitude of 6.3 and 6.6 respectively. The volcanic eruptions data comes from the U.S. National Oceanic and Atmospheric Administration. 
          div.head Notes
          li.hint The magnitude is a measure for the energy released during an earthquake. The effective damage potential, however, depends on many other criteria like depth and duration of an earthquake or the vicinity and density of settlements. Also, the circular spread displayed is usually not how the earthquake's waves can extend through the surrounding, usually very inhomogenous, land masses.
          li.hint The volcanic eruptions data shown here is only referring to eruptions that caused significant damage or harm to people. Thus, the data should not be considered a complete list in many ways.
          div.head Usage
          li.hint Use the 'play/pause' button to replay the data by year or interrupt the replay.
          li.hint Initially, the replay speed translates into a pause of 2s to load a new year's data and 4s for each individual earthquake to appear. The 'fast-forward' button allows you to reduce the wait time.
          li.hint On the map you choose from 3 different background layer types as well as enable or disable the replay of earthquakes or eruptions.
          li.hint To hide this information message, just click on it.
      a.link(href="https://earthquake.usgs.gov/earthquakes/search/") USGS earthquake search
      a.link(href="https://www.ngdc.noaa.gov/nndc/servlet/ShowDatasets?dataset=102557&search_look=50&display_look=50") NOAA significant volcanic eruption database search      
      div#header-data-row        
        img.playbutton#play-toggle(src="../../img/if_play-pause-music-player_2203516.svg", alt="pause/play", data-toggle="tooltip", data-placement="top", title="pause/play")
        div.playbutton#play-speedup(data-toggle="tooltip", data-placement="top", title="increase replay speed")
          div.table-row
            img.table-cell#speed-image(src="../../img/if_forward-play-fast-move_2203517.svg", alt="increase speed")
            div.table-cell
            div.table-cell#speed-indicator 1x
        div.playbutton#play-skip-forward(data-toggle="tooltip", data-placement="top", title="skip next 20 years")
          div.table-row
            img.table-cell#play-skip-forward-image(src="../../img/skip-forward.svg", alt="skip next 20 years")
    div#main-grid      
      #map            
        div#map-controls
          div.options-label Map Options:
          select#layer-selector
            option(value="OSM") Open Street Maps
            option(value="Toner") Toner (stamen)
            option(value="Terrain") Terrain
          div.toggle-map-content          
            input#toggle-earthquakes(type="checkbox", name="toggleQuakes", checked)
            label.cb-label(for="toggle-earthquakes") Show Earthquakes
          div.toggle-map-content
            input#toggle-eruptions(type="checkbox", name="toggleEruptions")
            label.cb-label(for="toggle-eruptions") Show Eruptions
      div#description-header Counts by Magnitude
        div#data-description 
          div.header-cell Year
          div.header-cell 6 - 6.9
          div.header-cell 7 - 7.9
          div.header-cell 8 - 8.9
          div.header-cell.last 9+            
    div#chart-container
      canvas#overall-stats.barchart
    div#info
  script(src='../js/main.js')