<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='utf-8')
    title Earthquakes and Eruptions
        
    link(rel='stylesheet', href='../sass/main.sass')

  body
    div#map
    script(src='../js/main.js')