::placeholder
  color: grey

#map 
  width: 100%
  height: 100%   

#info
  position: absolute
  height: 1px
  width: 1px
  z-index: 100
  
.tooltip.in 
  opacity: 1

.tooltip.top 
  border-top-color: white

.tooltip-arrow
  border-top-color: white

.tooltip-inner
  border: 2px solid white

.ol-scale-line-inner
  color: blue
  font-size: 14px

.ol-zoomslider 
  padding: 0
  box-shadow: 0 0 5px black
  border-radius: 20px
	
.ol-zoomslider:hover 
  background-color: rgba(0,60,136,0.3)

.ol-zoomslider-thumb 
  margin: 0
  filter: none
  background-color: blue
  border-radius: 20px       